<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport">
    <link rel="stylesheet" href="../css/style.css" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

    <title>BABY BRAIN</title>
</head>


<body class="bg-gradient-to-b from-green-200 via-blue-200 to-red-200">
    <header>
        <div class="pt-8 flex-row justify-space-between align-center container-fluid mx-auto">
            <div class="flex-shrink-0 flex items-center">
                <span class="m-auto text-5xl text-red-400 font-medium"><i class="fas fa-baby px-2"
                        aria-hidden="true"></i>Baby Brain</span>
                <button type="button" id="logout" class="mt-4 mr-2 bg-red-400 text-white py-2 px-6 rounded-md hover:bg-red-800">Logout</button>
            </div>
    </header>
{{{body}}}
<script src="/javascript/logout.js"></script>

</body>


</html>
